.contact-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.contact-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-form {
    max-width: 600px;
    width: 100%;
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3); 
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    right: 300px;
    border:2px solid #fff;
}

.contact-form:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.input-group {
    margin-top: 25px;
}

.input-group label {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #ddd;
    outline: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    margin-top: 8px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-field:focus {
    border-color: #826afb;
    background-color: rgba(255, 255, 255, 0.2);
}

.message-field {
    height: 150px;
    resize: none;
}

.submit-button {
    width: 100%;
    height: 55px;
    background: linear-gradient(135deg, #5a4ec8, #826afb);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3); 
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 30px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
    background: linear-gradient(135deg, #4a36a8, #624ec6);
    box-shadow: 0 6px 25px rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
}

.submit-button:active {
    background: linear-gradient(135deg, #392c78, #4a36a8);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2); 
    transform: translateY(0);
}

.back-icon {
    width: 50px; 
    height: auto; 
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.back-icon:hover {
    opacity: 0.8; 
}
